 body {
            background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
            text-align: center;
        }

        h1 {
            color: red;
            font-size: 60px;

        }

        h2 {
            color: red;
            font-size: 30px;
            font-style: italic;
        }

        button {
            background-color: #ff0844;
            transition-duration: 300ms;
            padding: 30px;
            margin: 40px;
            shape-image-threshold: unset;

        }

        button:hover {
            background-color: red;
            cursor: pointer;
        }

        .link {
            font-size: 20px;
        }